/*
 ====================
This is the CSS stylesheet for styling the HoE app
====================
*/

/*
Colors:
Orange: #f37d59
Darker Orange:  #d06d4f

Purple: #3d3542
Darker purple: #211d24

 */
/*
====================
Global variables
====================
*/
.root {
    -primary-color: #f37d59;
    -secondary-color: #3d3542;
    -primary-accent: #d06d4f;
    -secondary-accent: #211d24;
    -button-click: #121014;
}

/*
====================
The main menu
====================
 */
.mainMenuButton {
    -fx-text-fill: -primary-color;
    -fx-background-color:-secondary-color;
    -fx-font: 25px Calibri;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-alignment: center-left;
    -fx-background-radius: 5 0 0 5;
}

.mainMenuButton:hover {
    -fx-background-color: -secondary-accent;
}

.mainMenuButton:pressed {
    -fx-background-color: -button-click;
    -fx-text-fill: -primary-accent;
}

.mainMenuButtonHighlighted{
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
}


/*
====================
File-choose menu
====================
 */

.fileChooserMenu {
}

.fileChooserButton {
    -fx-text-fill: -primary-color;
    -fx-background-color:-secondary-color;
    -fx-font: 25px Calibri;
    -fx-font-weight: bold;
    -fx-background-radius: 5 5 5 5;
}

.fileChooserButton:hover {
    -fx-background-color: -secondary-accent;
}

.fileChooserButton:pressed {
    -fx-background-color: -button-click;
    -fx-text-fill: -primary-accent;
}

.fileChooserText {
    -fx-text-fill: -secondary-color;
    -fx-font: 30px Calibri;
    -fx-font-weight: bold;
}

.fileChosen {
    -fx-background-color: -primary-accent;
    -fx-padding: 10px;
    -fx-background-radius: 5 5 5 5;

}

.fileChooserInfo {
    -fx-text-fill: -secondary-color;
    -fx-font: 30px Calibri;
    -fx-font-weight: bold;
    -fx-background-color: -primary-color;
}

/*
====================
View menu
====================
 */

.viewMenuBar {
/*    -fx-border-width: 0 0 5 0;
    -fx-border-style: solid;
    -fx-border-color: -secondary-color;*/
}

.viewMenuTitle {
    -fx-text-fill: -secondary-color;
    -fx-font: 60px Calibri;
    -fx-font-weight: bold;
    -fx-pref-height: 60px;
}

.viewMenuButton {
    -fx-background-color: -secondary-color;
    -fx-text-fill: -primary-color;
    -fx-font: 30px Calibri;
    -fx-font-weight: bold;
    -fx-pref-width: 120px;
    -fx-pref-height: 60px;
}

.viewMenuButton:hover {
    -fx-background-color: -secondary-accent;
}

.viewMenuButton:pressed {
    -fx-background-color: -button-click;
    -fx-text-fill: -primary-accent;
}

/*
====================
Shows view
====================
 */


.showsSplitPane {
    -fx-background-color: -primary-color;
}

.showsListView {
    -fx-background-color: -primary-color;
}

/*
Card design 1
 */
/*
.showsCard {
    -fx-background-color: -secondary-color;
    -fx-background-radius: 10px;
}


.showsCardTitle {
    -fx-background-color: #9480A0;
    -fx-font: 35px Calibri;
    -fx-font-weight: bold;
    -fx-background-radius: 10px 10px 0 0;
    -fx-padding: 10px;
    -fx-max-height: 150px;
}*/

/*
Card design 2
 */
.showsCard {
    -fx-background-color: -primary-accent;
    -fx-background-radius: 10px;
}
.showsCardTitle {
    -fx-background-color: -secondary-color;
    -fx-font: 35px Calibri;
    -fx-font-weight: bold;
    -fx-background-radius: 10px 10px 0 0;
    -fx-padding: 10px;
    -fx-max-height: 150px;
    -fx-text-fill: -primary-color;
}

/*
====================
Add shows form
====================
 */

.addShowFormTitle {
    -fx-font: 20px Calibri;
    -fx-font-weight: bold;
    -fx-tile-alignment: right;
}