/*
 ====================
This is the CSS stylesheet for styling the HoE app
====================
*/

/*
Colors:
Orange: #f37d59
Darker Orange:  #d06d4f

Purple: #3d3542
Darker purple: #211d24

 */
/*
====================
Global variables
====================
*/
.root {
    -primary-color: #f37d59;
    -secondary-color: #3d3542;
    -primary-accent: #d06d4f;
    -secondary-accent: #211d24;
    -button-click: #121014;
/*    -primary-color: #f9f9f9;
    -secondary-color: #2f2f2f;
    -secondary-accent: #0d3f60;
    -primary-accent: #e5e5e5;*/
    -fx-font-size: 16px;
}

/*
====================
The main menu
====================
 */

.mainMenuVBox {
    -fx-background-color: -secondary-color;
    -fx-border-style:  solid;
    -fx-border-width:  0 5 0 0;
    -fx-border-color: -primary-color;
}

.mainMenuButton {
    -fx-text-fill: -primary-color;
    -fx-background-color:-secondary-color;
    -fx-font: 25px Calibri;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-alignment: center-left;
    -fx-background-radius: 5 0 0 5;
}

.mainMenuButton:hover {
    -fx-background-color: -secondary-accent;
}

.mainMenuButton:pressed {
    -fx-background-color: -button-click;
    -fx-text-fill: -primary-accent;
}

.mainMenuButtonHighlighted{
    -fx-background-color: -primary-color;
    -fx-text-fill: white;
}

/*
====================
Statusbar
====================
 */

.statusBar {
    -fx-background-color: -primary-accent;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 10;
    -fx-border-color: -secondary-color;
    -fx-text-fill: -secondary-color;

}

.statusbarBG {
    -fx-background-color: -primary-color;
}
/*
====================
File-choose menu
====================
 */

.fileChooserMenu {
}

.fileChooserButton {
    -fx-text-fill: -primary-color;
    -fx-background-color:-secondary-color;
    -fx-font: 25px Calibri;
    -fx-font-weight: bold;
    -fx-background-radius: 5 5 5 5;
}

.fileChooserButton:hover {
    -fx-background-color: -secondary-accent;
}

.fileChooserButton:pressed {
    -fx-background-color: -button-click;
    -fx-text-fill: -primary-accent;
}

.fileChooserText {
    -fx-text-fill: -secondary-color;
    -fx-font: 30px Calibri;
    -fx-font-weight: bold;
}

.fileChosen {
    -fx-background-color: -primary-accent;
    -fx-padding: 10px;
    -fx-background-radius: 5 5 5 5;

}

.fileChooserInfo {
    -fx-text-fill: -secondary-color;
    -fx-font: 30px Calibri;
    -fx-font-weight: bold;
    -fx-background-color: -primary-color;
}

/*
====================
View menu
====================
 */

.viewMenuAnchorPane {
    -fx-background-color: -primary-color;
}

.viewMenuBar {
/*    -fx-border-width: 0 0 5 0;
    -fx-border-style: solid;
    -fx-border-color: -secondary-color;*/
}

.viewMenuTitle {
    -fx-text-fill: -secondary-color;
    -fx-font: 60px Calibri;
    -fx-font-weight: bold;
    -fx-pref-height: 60px;
}

.viewMenuButton {
    -fx-background-color: -secondary-color;
    -fx-text-fill: -primary-color;
    -fx-font: 30px Calibri;
    -fx-font-weight: bold;
    -fx-padding: 15px;
    -fx-min-width: 120px;
}

.viewMenuButton:hover {
    -fx-background-color: -secondary-accent;
}

.viewMenuButton:pressed {
    -fx-background-color: -button-click;
    -fx-text-fill: -primary-accent;
}

/*
====================
Shows view
====================
 */


.showsTableView  {
    -fx-background-color: -primary-accent;
    -fx-background-radius: 5px;
    -fx-font: 20px Calibri;
    -fx-font-weight: bold;
}

.showsTableView .column-header,
.showsTableView .column-header-background,
.column-header-background .filler{
    -fx-background-color: -secondary-color;
}

.table-row-cell  {
    -fx-table-cell-border-color: transparent;
}

.tableViewColumn .column-header-background {
    -fx-background-color: -secondary-color;
}

.showsTableView .column-header .label {
    -fx-text-fill: -primary-color;
    -fx-font: 25px Calibri;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.showsTableView .table-cell {
    -fx-padding: 4px 8px 4px 8px;
    -fx-text-alignment: center;
}

.table-row-cell{
    -fx-background-color: -primary-accent;
}

.table-row-cell:odd{
    -fx-background-color: -primary-color;
}

.showsTableView .table-row-cell:selected {
    -fx-background-color: -secondary-color;
    -fx-text-fill: white;
}

.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal {

}
.scroll-bar .thumb {
    -fx-background-color: -secondary-color;
}

.showsTableView .corner {
    -fx-background-color: -primary-accent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    visibility: hidden;
}

.showsCard {
    -fx-background-color: -primary-accent;
    -fx-background-radius: 5px;
}

.showsCardTitle {
    -fx-background-color: -secondary-color;
    -fx-font: 25px Calibri;
    -fx-font-weight: bold;
    -fx-background-radius: 5px 5px 0 0;
    -fx-padding: 10px;
    -fx-max-height: 150px;
    -fx-text-fill: -primary-color;
}


/*
====================
Add shows form
====================
 */

.addShowsView {
    -fx-background-color: -primary-color;
}
.addShowFormTitle {
    -fx-font: 40px Calibri;
    -fx-font-weight: bold;
    -fx-tile-alignment: right;
    -fx-text-fill: -secondary-color;
    -fx-border-width: 0 0 5 0;
    -fx-border-style: solid;
    -fx-border-color: -secondary-color;
}

.addShowFormQuestion {
    -fx-font: 27px Calibri;
    -fx-font-weight: bold;
    -fx-tile-alignment: right;
    -fx-text-fill: -secondary-color;
}

.addShowInputField {
    -fx-text-fill: -secondary-color;
    -fx-prompt-text-fill: rgba(0,0,0,0.5);
    -fx-background-color: -primary-accent;
    -fx-font: 17px Calibri;
    -fx-font-weight: bold;
}

.addShowInputArea  {
    -fx-text-fill: -secondary-color;
    -fx-prompt-text-fill: rgba(0,0,0,0.5);
    -fx-background-color: -primary-accent;

    -fx-font: 17px Calibri;
    -fx-font-weight: bold;
}

.addShowInputArea .content {
    -fx-background-color: -primary-accent;
    -fx-border-style: none;
    -fx-background-radius: 0px;

}

.addShowErrorMessage {
    -fx-font: 17px Calibri;
    -fx-background-color: #f9f9f9;
    -fx-padding: 5px;
    -fx-background-radius: 3px 10px 10px 3px;
    -fx-text-fill: red;
}

.addShowDropdown {
    -fx-background-color: -primary-accent;
    -fx-font: 15px Calibri;
    -fx-font-weight: bold;
}

.addShowMenuButton {
    -fx-min-width: 242px;
}